[submodule "Longworth-chuck"]
	path = Longworth-chuck
	url = git://github.com/Intrinsically-Sublime/Longworth-chuck
[submodule "Printable-Lathe-V2"]
	path = Printable-Lathe-V2
	url = git://github.com/Intrinsically-Sublime/Printable-Lathe-V2
